<div class="border-2 border-purple-400 bg-purple-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
               <span class="font-semibold">Ribbel</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>


