<div class="border-2 border-purple-400 bg-purple-300 rounded-lg p-4 w-11/12 mx-auto mt-4">
    <div class="grid grid-cols-2">
        <div class="w-10/12">
            <!-- Afdeling -->
            <div class="text-center text-3xl">
               <span class="font-semibold">Ribbel</span> <i class="ml-3 fa-solid fa-mars"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3></app-leiding-card-v3>
            </div>

        </div>
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-3xl">
                <span class="font-semibold">Ribbel</span> <i class="ml-3 fa-solid fa-mars"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="w-fit mx-auto">
            </div>
        </div>
    </div>
</div>