<!-- TODO: Make this not hard coded -->

<div class="border-2 border-purple-400 bg-purple-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Ribbel</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[0]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-purple-400 bg-purple-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Ribbel</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[1]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>


<div class="border-2 border-yellow-400 bg-yellow-200 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Speelclub</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[2]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>
<div class="border-2 border-yellow-400 bg-yellow-200 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Speelclub</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[3]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-green-500 bg-green-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Rakkers</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[4]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>
<div class="border-2 border-green-500 bg-green-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Kwiks</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[5]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-red-500 bg-red-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Toppers</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[6]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>
<div class="border-2 border-red-500 bg-red-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Tippers</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[7]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-blue-500 bg-blue-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Kerels</span> <i class="ml-3 fa-solid fa-crown text-yellow-500"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[8]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>
<div class="border-2 border-blue-500 bg-blue-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Tip10's</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[9]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-orange-500 bg-orange-200 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Aspi</span> <i class="ml-3 fa-solid fa-mars text-blue-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[10]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>
<div class="border-2 border-orange-500 bg-orange-200 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">Aspi</span> <i class="ml-3 fa-solid fa-venus text-pink-600"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[11]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

<div class="border-2 border-gray-500 bg-gray-300 rounded-lg p-4 w-7/12 mx-auto mt-4">
    <div class="grid grid-cols-1">
        <div class="w-10/12 mx-auto">
            <!-- Afdeling -->
            <div class="text-center text-4xl">
            <span class="font-semibold">VB's</span> <i class="ml-3 fa-solid fa-person-hiking text-black"></i>
            </div>
            <!-- Hier onder zullen leidings kaarten komen -->
            <div class="">
                <app-leiding-card-v3 [FilteredUsers]="filteredUsers[12]"></app-leiding-card-v3>
            </div>
        </div>    
    </div>
</div>

