<div class="bg-white p-6 rounded-lg shadow-md">
        <div class="grid grid-cols-2 gap-4 text-lg text-center">
        <div [routerLink]="['/afdProgramma', 1]" routerLinkActive="router-link-active"  class="border-2 border-purple-700 bg-purple-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-purple-500 hover:font-semibold">
            Ribbel Meisjes <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 2]" routerLinkActive="router-link-active"  class="border-2 border-purple-700 bg-purple-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-purple-500 hover:font-semibold">
            Ribbel Jongens <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 3]" routerLinkActive="router-link-active"  class="border-2 border-yellow-700 bg-yellow-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-yellow-500 hover:font-semibold">
            Speelclub Meisjes <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 4]" routerLinkActive="router-link-active"  class="border-2 border-yellow-700 bg-yellow-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-yellow-500 hover:font-semibold">
            Speelclub Jongens <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 5]" routerLinkActive="router-link-active"  class="border-2 border-green-700 bg-green-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-green-500 hover:font-semibold">
            Kwiks <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 6]" routerLinkActive="router-link-active"  class="border-2 border-green-700 bg-green-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-green-500 hover:font-semibold">
            Rakkers <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 7]" routerLinkActive="router-link-active"  class="border-2 border-red-700 bg-red-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-red-500 hover:font-semibold">
            Tippers <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 8]" routerLinkActive="router-link-active"  class="border-2 border-red-700 bg-red-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-red-500 hover:font-semibold">
            Toppers <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 9]" routerLinkActive="router-link-active"  class="border-2 border-blue-700 bg-blue-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-blue-500 hover:font-semibold">
            Tip 10's <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 10]" routerLinkActive="router-link-active"   class="border-2 border-blue-700 bg-blue-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-blue-500 hover:font-semibold">
            Kerels <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 11]" routerLinkActive="router-link-active"   class="border-2 border-orange-700 bg-orange-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-orange-500 hover:font-semibold">
            Aspi Meisjes <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdProgramma', 12]" routerLinkActive="router-link-active"   class="border-2 border-orange-700 bg-orange-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-orange-500 hover:font-semibold">
            Aspi Jongens <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/eventPage']" routerLinkActive="router-link-active"   class="col-span-2 border-2 border-gray-700 bg-gray-400 rounded-lg py-3 px-6 cursor-pointer ease-in-out duration-300 hover:bg-gray-500 hover:font-semibold">
            Evenementen <i class="fa-solid fa-calendar-days fa-lg"></i>
        </div>
    </div>
</div>
