<div class=" w-11/12 mx-auto relative z-0 grid auto-cols-[32rem] grid-flow-col gap-4 overflow-x-auto items-center p-4 pb-6">

    <div class="group col-span-1 border-4 border-red-300 bg-red-200 rounded-lg">
    
        <div class="flex w-full flex-col gap-2">

            <div class="rounded-xl w-fit">
                <img src="assets\Blogposts_images\Back_images\modder.png" alt="" style="max-width: 100%; max-height: 100%;">
            </div>

            <div class="border-2 border-purple-600 bg-purple-400 px-4 text-xs rounded-xl font-semibold w-fit mx-auto">
                Zondag
            </div>
    
            <div class="">
                <div class="text-xl text-center font-bold">Wat is er Afgelopen Zondag Gebeurd?</div>
            </div>


            <div class="text-center mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio molestiae perferendis est quia necessitatibus eius rem? Labore excepturi totam nisi, quia adipisci quo alias, nemo amet necessitatibus consequatur aliquam aut.
            </div>
            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold ">Killian Serluppens</span>
                </div>
                <div>
                    <span class="text-sm opacity-45 ">1 uur Geleden</span>
                </div>
            </div>
        
        </div>
    </div>

    <div class="group col-span-1 border-4 border-red-300 bg-red-200 rounded-lg">
    
        <div class="flex w-full flex-col gap-2">

            <div class="rounded-xl w-fit">
                <img src="assets\Blogposts_images\Back_images\pompoen.png" alt="" style="max-width: 100%; max-height: 100%;">
            </div>

            <div class="border-2 border-blue-600 bg-blue-400 px-4 text-xs rounded-xl font-semibold w-fit mx-auto">
                Kerels
            </div>
    
            <div class="">
                <div class="text-xl text-center font-bold">De Kerels gingen Pompoen Varen!</div>
            </div>


            <div class="text-center mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio molestiae perferendis est quia necessitatibus eius rem? Labore excepturi totam nisi, quia adipisci quo alias, nemo amet necessitatibus consequatur aliquam aut.
            </div>
            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\mascots_old\keti_mascot.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">De Keti Leiding</span>
                </div>
                <div>
                    <span class="text-sm opacity-45 ">1 dag Geleden</span>
                </div>
            </div>
        
        </div>
    </div>

    <div class="group col-span-1 border-4 border-red-300 bg-red-200 rounded-lg">
    
        <div class="flex w-full flex-col gap-2">

            <div class="rounded-xl w-fit">
                <img src="assets\Blogposts_images\Back_images\nieemer.jpg" alt="" style="max-width: 100%; max-height: 100%;">
            </div>

            <div class="border-2 border-cyan-600 bg-cyan-400 px-4 text-xs rounded-xl font-semibold w-fit mx-auto">
                Zondag
            </div>
    
            <div class="">
                <div class="text-xl text-center font-bold">Het Jaarmarkt Weekend!</div>
            </div>


            <div class="text-center mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio molestiae perferendis est quia necessitatibus eius rem? Labore excepturi totam nisi, quia adipisci quo alias, nemo amet necessitatibus consequatur aliquam aut.
            </div>
            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold ">Killian Serluppens</span>
                </div>
                <div>
                    <span class="text-sm opacity-45 ">4 dagen Geleden</span>
                </div>
            </div>
        
        </div>
    </div>

    <div class="group col-span-1 border-4 border-red-300 bg-red-200 rounded-lg">
    
        <div class="flex w-full flex-col gap-2">

            <div class="rounded-xl w-fit">
                <img src="assets\Blogposts_images\Back_images\woutje_timon_politie_wiewaa.png" alt="" style="max-width: 100%; max-height: 100%;">
            </div>

            <div class="border-2 border-green-600 bg-green-400 px-4 text-xs rounded-xl font-semibold w-fit mx-auto">
                Zondag
            </div>
    
            <div class="">
                <div class="text-xl text-center font-bold">De Leukste Kamp Fotos!</div>
            </div>


            <div class="text-center mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio molestiae perferendis est quia necessitatibus eius rem? Labore excepturi totam nisi, quia adipisci quo alias, nemo amet necessitatibus consequatur aliquam aut.
            </div>
            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\HeadShots\felix.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">Felix rabou</span>
                </div>
                <div>
                    <span class="text-sm opacity-45 ">1 week Geleden</span>
                </div>
            </div>
        
        </div>
    </div>


    <div class="group col-span-1 border-4 border-red-300 bg-red-200 rounded-lg">
    
        <div class="flex w-full flex-col gap-2">

            <div class="rounded-xl w-fit">
                <img src="assets\Blogposts_images\Back_images\kerel_kasteel.png" alt="" style="max-width: 100%; max-height: 100%;">
            </div>

            <div class="border-2 border-pink-600 bg-pink-400 px-4 text-xs rounded-xl font-semibold w-fit mx-auto">
                Hulp
            </div>
    
            <div class="">
                <div class="text-xl text-center font-bold">Wij Zoeken Sjorbalken!</div>
            </div>


            <div class="text-center mb-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio molestiae perferendis est quia necessitatibus eius rem? Labore excepturi totam nisi, quia adipisci quo alias, nemo amet necessitatibus consequatur aliquam aut.
            </div>
            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\leiding_boom.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">De Leidingsploeg</span>
                </div>
                <div>
                    <span class="text-sm opacity-45 ">2 weken Geleden</span>
                </div>
            </div>
        
        </div>
    </div>

  
<!-- 
    <img src="assets\Blogposts_images\Back_images\pompoen.png" class="h-full w-full object-cover" />
    <img src="assets\Blogposts_images\Back_images\DE_BOYSSS.png" class="h-full w-full object-cover" />
    <img src="assets\Blogposts_images\Back_images\nieemer.jpg" class="h-full w-full object-cover" />
    kerel_kasteel
     -->

</div>