<div class="fixed bottom-0 w-full bg-red-500 grid grid-cols-3 text-center py-2">
    
    <div class="grid grid-cols-1">
        <i class="fa-solid fa-house mb-1"></i>
        <span class="text-sm font-semibold">Home</span>
    </div>

    <div class="grid grid-cols-1">
        <i class="fa-solid fa-gauge mb-1"></i>
        <span class="text-sm font-semibold">Toevoegen</span>
    </div>
    
    <div class="grid grid-cols-1">
        <i class="fa-solid fa-user mb-1"></i>
        <span class="text-sm font-semibold">Profiel </span>
    </div>
</div>