<div class=" w-10/12 mx-auto p-2 rounded-md mb-4 grid grid-cols-4 gap-4" style="overflow: auto;">

    <!-- Start Blogpost Div-->    
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\pompoen.png" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-purple-600 bg-purple-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Zondag
        </div>

        <div class="m-2 px-1 mb-4">
            <div class="font-bold text-lg">Dit Is Er Afgelope Zondag Gebeurd!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>

        <div class="flex justify-between items-center p-2 m-2">
            <div class="flex items-center">
                <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                    <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                </div>
                <span class="text-sm font-semibold">Killian Serluppens</span>
            </div>
            <div>
                <span class="text-sm opacity-45">3 Uur Geleden</span>
            </div>
        </div>
    </div>
    <!-- End Blogpost Div-->    

    <!-- Start Blogpost Div-->    
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\DE_BOYSSS.png" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-blue-600 bg-blue-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Kerels
        </div>

        <div class="m-2 px-1 mb-4">
            <div class="font-bold text-lg">De Kerels Bouwden een Forum!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>

        <div class="flex justify-between items-center p-2 m-2">
            <div class="flex items-center">
                <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                    <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                </div>
                <span class="text-sm font-semibold">Killian Serluppens</span>
            </div>
            <div>
                <span class="text-sm opacity-45">6 Uur Geleden</span>
            </div>
        </div>
    </div>
    <!-- End Blogpost Div-->    

    <!-- Start Blogpost Div-->    
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\planningsweekend.jpg" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-gray-600 bg-gray-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Leiding
        </div>

        <div class="m-2 px-1 mb-4">
            <div class="font-bold text-lg">Dit Is De Leidingsploeg!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>

        <div class="flex justify-between items-center p-2 m-2">
            <div class="flex items-center">
                <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                    <img class="h-full w-full object-cover" src="assets\Blogposts_images\leiding_boom.png" alt="User Profile Image">
                </div>
                <span class="text-sm font-semibold">Felix Rabou</span>
            </div>
            <div>
                <span class="text-sm opacity-45">1 Dag Geleden</span>
            </div>
        </div>
    </div>
    <!-- End Blogpost Div-->    

    <!-- Start Blogpost Div-->    
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\woutje_timon_politie_wiewaa.png" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-teal-600 bg-teal-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Kamp
        </div>

        <div class="m-2 px-1 mb-4">
            <div class="font-bold text-lg">De Leukste Kamp Foto's!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>

        <div class="flex justify-between items-center p-2 m-2">
            <div class="flex items-center">
                <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                    <img class="h-full w-full object-cover" src="assets\Blogposts_images\mascots_old\keti_mascot.png" alt="User Profile Image">
                </div>
                <span class="text-sm font-semibold">Woutje Bambi</span>
            </div>
            <div>
                <span class="text-sm opacity-45">2 dagen Geleden</span>
            </div>
        </div>
    </div>
    <!-- End Blogpost Div-->    

    <!-- Start Blogpost Div-->    
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\modder.png" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-green-600 bg-green-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Zondag
        </div>

        <div class="m-2 px-1 mb-4">
            <div class="font-bold text-lg">Dit Is Er Afgelope Zondag Gebeurd!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>

        <div class="flex justify-between items-center p-2 m-2">
            <div class="flex items-center">
                <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                    <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                </div>
                <span class="text-sm font-semibold">Killian Serluppens</span>
            </div>
            <div>
                <span class="text-sm opacity-45">1 week Geleden</span>
            </div>
        </div>
    </div>
    <!-- End Blogpost Div-->    

    
</div>
