 <div class="w-fit mx-auto  mb-5">
    <div class="font-extrabold text-6xl text-cente">
        Chiro Schelle - Blog
    </div>
    <div class="text-center w-full font-semibold">
        Hier vind je de laatste updates over Chiro Schelle!
    </div>
 </div>  

 <div class=" w-10/12 mx-auto p-2 rounded-md mb-4 grid grid-cols-4 gap-4" style="max-height: 450px; overflow: auto;">
    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\pompoen.png" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-green-600 bg-green-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Zondag
        </div>

        <div class=" m-2 px-1">
            <div class="font-bold text-lg">Dit Is Er Afgelope Zondag Gebeurt!!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>
    </div>

    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\nieemer.jpg" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-blue-600 bg-blue-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Jaarmarkt
        </div>

        <div class=" m-2 px-1">
            <div class="font-bold text-lg">Jaarmarkt Weekend 2024.</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>
        </div>
    </div>


    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\pannekoekeslag.jpg" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-red-600 bg-red-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Activiteiten
        </div>

        <div class=" m-2 px-1">
            <div class="font-bold text-lg">Pannenkokeen Slag 12 November 🥞</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>

        </div>    
    </div>

    <div class="border-4 border-red-300 bg-red-200 rounded-md h-full  w-full mx-auto">
        <div class="rounded-lg m-2 w-fit mx-auto" style="max-height: 100%; overflow: hidden;">
            <img src="assets\Blogposts_images\Back_images\planningsweekend.jpg" alt="" style="max-width: 100%; max-height: 180px;">
        </div>
        
        <div class="border-2 border-gray-600 bg-gray-400 w-fit px-4 text-sm ml-2 rounded-xl font-semibold">
            Leiding
        </div>

        <div class=" m-2 px-1">
            <div class="font-bold text-lg">De Leiding Ging Op Planningsweekend!</div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error amet voluptas architecto iste molestias ex aut, tenetur porro tempora, ratione temporibus quasi deserunt quos necessitatibus minus delectus laborum officiis?
            </div>

    </div>


</div>
