<div class="grid grid-cols-2 border-4 rounded-md border-purple-500 bg-purple-400">
    <div class=" text-center mt-2 mb-4 font-bold text-xl col-span-2">Toby Clownerweireld</div>

    <div class=" w-5/6 my-4 p-2">
        <div class="text-center w-fit mx-auto">
            <img class="rounded-lg" src="assets\HeadShots\alderClown.png" width="150px" >
        </div>
    </div>

    <div class="text-center text-lg w-fit my-4 p-2">
        <ul>
            <li><span class="font-semibold mr-2">Afdeling:</span> <br> <span>Ribbel Jongen</span></li>
            <li><span class="font-semibold mr-2">Leeftijd:</span> <br> <span>100</span></li>
            <li><span class="font-semibold mr-2">Email:</span> <br> <span> paljas&#64;voetbalbond.be </span></li>
            <li><span class="font-semibold mr-2">Aantal Jaar Leiding:</span> <br> <span>1</span></li>
        </ul>
    </div>
</div>