<div class="border-3 border-red-500 bg-red-300 w-11/12 mx-auto my-3 rounded-lg px-1 py-2 text-center cursor-pointer">
    <span class="text-lg font-semibold">Voeg Programma Toe</span>
</div>

<div class="border-3 border-red-500 bg-red-300 w-11/12 mx-auto my-3 rounded-lg px-1 py-2 text-center cursor-pointer">
    <span class="text-lg font-semibold">Voeg Blogpost Toe</span>
</div>

<div class="border-3 border-red-500 bg-red-300 w-11/12 mx-auto my-3 rounded-lg px-1 py-2 text-center cursor-pointer">
    <span class="text-lg font-semibold">Verander GOEPIE</span>
</div>