<!-- Add that color changes depending on loggid in user-->
<!-- <div class="mx-auto mt-6">
    
    <div class="w-fit mx-auto  mb-4">
        <div class="font-bold text-2xl text-center">Admin Pagina</div>
    </div> 

</div> -->

<!-- Main Components -->
<app-form-selector></app-form-selector>

<!-- Tablet Components -->
<app-main-tablet class="lg:hidden"></app-main-tablet>
<app-navbar-tablet class="lg:hidden"></app-navbar-tablet>

<!-- Phone Components  -->
<app-main class="md:hidden"></app-main>
<app-navbar class="md:hidden"></app-navbar>



