<div class="mx-auto w-fit my-7">
    <div class="font-extrabold text-4xl text-center">
       Admin Page
    </div>
    <div class="text-center w-full font-semibold mt-1">        
    </div>
    <div class="text-center">
        <div class="inline-block bg-purple-500 transform rounded-full w-2 h-2"></div>
        <div class="inline-block bg-yellow-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-green-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-red-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-blue-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-orange-500 transform rounded-full w-2 h-2 ml-2"></div>
    </div>
</div>

<app-main-desktop></app-main-desktop>