<div class="grid grid-cols-3 ">
    <div class="mt-4">
        <div class="text-center font-bold text-2xl">
            Mats Robroeckx
        </div>
        <div class="w-fit mx-auto my-2">
            <img class="rounded-lg" src="assets\Leiding_Foto's\Mats.jpg" width="190px">
        </div>
        <div class="text-center font-semibold text-lg mt-2">
        <ul>
            <li>voetbalbond&#64;maffia.be</li>
            <li>04 71 81 22 44</li>
        </ul> 
        </div>
        <div class="border-2 border-purple-500 w-fit px-3 py-1 rounded-lg bg-purple-400 mx-auto mt-2 cursor-pointer font-semibold hover:font-bold hover:ease-in-out">
            Button
        </div>
    </div>

    <div class="mt-4">
        <div class="text-center font-bold text-2xl">
            Fien Heirbaut
        </div>
        <div class="w-fit mx-auto my-2">
            <img class="rounded-lg" src="assets\Leiding_Foto's\Fien.jpg" width="190px">
        </div>
        <div class="text-center font-semibold text-lg mt-2">
        <ul>
            <li>voetbalbond&#64;maffia.be</li>
            <li>04 71 81 22 44</li>
        </ul> 
        </div>
        <div class="border-2 border-purple-500 w-fit px-3 py-1 rounded-lg bg-purple-400 mx-auto mt-2 cursor-pointer font-semibold hover:font-bold hover:ease-in-out">
            Button
        </div>
    </div>

    <div class="mt-4">
        <div class="text-center font-bold text-2xl">
            Nore Van Langendonck
        </div>
        <div class="w-fit mx-auto my-2">
            <img class="rounded-lg" src="assets\Leiding_Foto's\Nore.jpg" width="190px">
        </div>
        <div class="text-center font-semibold text-lg mt-2">
        <ul>
            <li>voetbalbond&#64;maffia.be</li>
            <li>04 71 81 22 44</li>
        </ul> 
        </div>
        <div class="border-2 border-purple-500 w-fit px-3 py-1 rounded-lg bg-purple-400 mx-auto mt-2 cursor-pointer font-semibold hover:font-bold hover:ease-in-out">
            Button
        </div>
    </div>
</div>
