<div class="w-9/12 my-2 mx-auto  border-gray-300 rounded-lg">
    <ngx-extended-pdf-viewer
    [zoom]="50" 
    [height]="'auto'"
    [textLayer]="false"
    [src]="'/assets/GOEPIES/Goepie_4.pdf'"
    [showToolbar]="true"
    [showSidebarButton]="false"
    [showFindButton]="true"
    [showPagingButtons]="true"
    [showDrawEditor]="true"
    [showStampEditor]="false"
    [showTextEditor]="false"
    [showZoomButtons]="true"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateCwButton]="false"
    [showRotateCcwButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false">
>
    </ngx-extended-pdf-viewer>     
</div>

