<div class="border-2 border-black grid-rows-2">
    <!-- Index -->
    <div class="border-2 grid grid-cols-5">
        <div class=""> Id  
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
        <div class=""> afdling
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
        <div class="col-span-2"> programma
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
        <div class=""> datum
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
    </div>
    <div class="">
        @for (pg of programmas; track $index) {
            <div class="grid grid-cols-5">
                <div>
                   <span> {{pg.id}} </span>
                </div>
                <div>
                    <span> {{pg.afdelingId}} </span>
                 </div>
                 <div class="col-span-2">
                    <span> {{pg.programma}} </span>
                 </div>
                 <div>
                    <span> {{pg.datum}} </span>
                 </div>
            </div>
        }
    </div>
</div>