<div class="border-2 border-black grid-rows-2">
    <!-- Index -->
    <div class="border-2 grid grid-cols-3">
        <div class=""> Id  
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
        <div class=""> Goepie
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
        <div class=""> Actions
            <span class=""> <i class="fa-solid fa-sort-down"></i> </span>
        </div>
     
    </div>
    <div class="">
        @for (gp of goepies; track $index) {
            <div class="grid grid-cols-3">
                <div>
                    <span> {{gp.id}} </span>
                </div>
                <div class="">
                    <span> {{gp.location}} </span>
                </div>
                <div class="">
                    <span> DOWNLOAD BUTTON </span>
                </div>
            </div>
        }
    </div>
</div>