<div class="mx-auto w-fit my-7">
    <div class="w-fit mx-auto  mb-4">
        <div class="font-extrabold text-2xl lg:text-4xl text-center">Onze LeidingsPloeg </div>  
        <div class="text-sm lg:text-lg text-center">
           We zijn dit jaar met 29 leiding!       
        </div>
        <div class="text-center">
            <div class="inline-block bg-purple-500 transform rounded-full w-2 h-2"></div>
            <div class="inline-block bg-yellow-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-green-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-red-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-blue-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-orange-500 transform rounded-full w-2 h-2 ml-2"></div>
        </div>
    </div> 

</div>
<div>
    <app-afdeling-blok></app-afdeling-blok>
</div>