<div class="mx-auto w-fit my-7">
    <div class="font-extrabold text-4xl text-cente">
        Onze Leidingsploeg!
    </div>
    <div class="text-center w-full font-semibold mt-1">
        We zijn dit jaar met 27 leiding! 
    </div>
    <div class="text-center">
        <div class="inline-block bg-purple-500 transform rounded-full w-2 h-2"></div>
        <div class="inline-block bg-yellow-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-green-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-red-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-blue-500 transform rounded-full w-2 h-2 ml-2"></div>
        <div class="inline-block bg-orange-500 transform rounded-full w-2 h-2 ml-2"></div>
    </div>
</div>
<div>
    <app-afdeling-blok></app-afdeling-blok>
</div>