<div class="w-9/12 mx-auto p-2 rounded-md mb-4 border-2" style="overflow: auto;">
    <div class="border-4 border-red-300 bg-red-200 rounded-md w-full px-6 flex gap-2 mb-3">
        <div class="p-3 flex-none flex items-center justify-center w-6/12"> 
            <img src="assets\Blogposts_images\Back_images\modder.png"> 
        </div>
        <div class="p-3 flex flex-col justify-between flex-grow">  
            <div class="p-2 text-center"> 
                <div class="mb-3">                    
                    <span class="text-2xl font-bold">Dit Gebeurde Er Afgelopen Zondag</span>
                </div>    
                                    
                <div class="border-2 border-purple-600 bg-purple-400 inline-block px-4 rounded-xl">
                    <span class="text-xs font-semibold">Zondag</span>
                </div>
            </div>
            <div class="p-2">
                <span class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima perferendis impedit ea corporis temporibus odio quae maiores architecto dolor at quisquam soluta, tempore eius ex, eaque delectus dignissimos harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum repudiandae rerum animi assumenda autem. Nobis eveniet odit enim porro nulla illo assumenda. Dignissimos labore assumenda quisquam distinctio aliquid atque.</span>
            </div>

            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">Killian Serluppens</span>
                </div>
                <div>
                    <span class="text-sm opacity-45">3 Uur Geleden</span>
                </div>
            </div>
        </div>
    </div>

    <div class="border-4 border-red-300 bg-red-200 rounded-md w-full px-6 flex gap-2 mb-3">
        
        <div class="p-3 flex flex-col justify-between flex-grow">  
            <div class="p-2 text-center"> 
                <div class="mb-3">                    
                    <span class="text-2xl font-bold">Jaarmarkt Tijd!</span>
                </div>    
                                    
                <div class="border-2 border-blue-600 bg-blue-400 inline-block px-4 rounded-xl">
                    <span class="text-xs font-semibold">Jaarmarkt</span>
                </div>
            </div>
            <div class="p-2">
                <span class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima perferendis impedit ea corporis temporibus odio quae maiores architecto dolor at quisquam soluta, tempore eius ex, eaque delectus dignissimos harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum repudiandae rerum animi assumenda autem. Nobis eveniet odit enim porro nulla illo assumenda. Dignissimos labore assumenda quisquam distinctio aliquid atque.</span>
            </div>

            <div class="flex justify-between items-center p-2 m-2">
                <div>
                    <span class="text-sm opacity-45">4 Dagen Geleden</span>
                </div>
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\mascots_old\keti_mascot.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">De Keti Leiding</span>
                </div>
               
            </div>
        </div>

        <div class="p-3 flex-none flex items-center justify-center w-6/12"> 
            <img src="assets\Blogposts_images\Back_images\nieemer.jpg"> 
        </div>
    </div>

    <div class="border-4 border-red-300 bg-red-200 rounded-md w-full px-6 flex gap-2 mb-3">
        <div class="p-3 flex-none flex items-center justify-center w-6/12"> 
            <img src="assets\Blogposts_images\Back_images\woutje_timon_politie_wiewaa.png"> 
        </div>

        <div class="p-3 flex flex-col justify-between flex-grow">  
            <div class="p-2 text-center"> 
                <div class="mb-3">                    
                    <span class="text-2xl font-bold">De Leukste Kampfoto's!</span>
                </div>    
                                    
                <div class="border-2 border-green-600 bg-green-400 inline-block px-4 rounded-xl">
                    <span class="text-xs font-semibold">Kamp</span>
                </div>
            </div>
            <div class="p-2">
                <span class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima perferendis impedit ea corporis temporibus odio quae maiores architecto dolor at quisquam soluta, tempore eius ex, eaque delectus dignissimos harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum repudiandae rerum animi assumenda autem. Nobis eveniet odit enim porro nulla illo assumenda. Dignissimos labore assumenda quisquam distinctio aliquid atque.</span>
            </div>

            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\HeadShots\felix.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">Felix rabou</span>
                </div>
                <div>
                    <span class="text-sm opacity-45">1 Week Geleden</span>
                </div>                
            </div>
        </div>
    </div>

    
    



    <div class="border-4 border-red-300 bg-red-200 rounded-md w-full px-6 flex gap-2 mb-3">
        
        <div class="p-3 flex flex-col justify-between flex-grow">  
            <div class="p-2 text-center"> 
                <div class="mb-3">                    
                    <span class="text-2xl font-bold">De Kerels Bouwden een Forum!</span>
                </div>    
                                    
                <div class="border-2 border-blue-600 bg-blue-400 inline-block px-4 rounded-xl">
                    <span class="text-xs font-semibold">Kerels</span>
                </div>
            </div>
            <div class="p-2">
                <span class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima perferendis impedit ea corporis temporibus odio quae maiores architecto dolor at quisquam soluta, tempore eius ex, eaque delectus dignissimos harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum repudiandae rerum animi assumenda autem. Nobis eveniet odit enim porro nulla illo assumenda. Dignissimos labore assumenda quisquam distinctio aliquid atque.</span>
            </div>

            <div class="flex justify-between items-center p-2 m-2">
                <div>
                    <span class="text-sm opacity-45">2 Weken Geleden</span>
                </div>   
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\patron.jpg" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">Killian Serluppens</span>
                </div>
             
            </div>            
        </div>

        <div class="p-3 flex-none flex items-center justify-center w-6/12"> 
            <img src="assets\Blogposts_images\Back_images\DE_BOYSSS.png"> 
        </div>
      
    </div>

    <div class="border-4 border-red-300 bg-red-200 rounded-md w-full px-6 flex gap-2 mb-3">
        <div class="p-3 flex-none flex items-center justify-center w-6/12"> 
            <img src="assets\Blogposts_images\Back_images\planningsweekend.jpg" width="640px"> 
        </div>

        <div class="p-3 flex flex-col justify-between flex-grow">  
            <div class="p-2 text-center"> 
                <div class="mb-3">                    
                    <span class="text-2xl font-bold">De Leiding Ging Op Planningsweekend!</span>
                </div>    
                                    
                <div class="border-2 border-gray-600 bg-gray-400 inline-block px-4 rounded-xl">
                    <span class="text-xs font-semibold">Leiding</span>
                </div>
            </div>
            <div class="p-2">
                <span class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima perferendis impedit ea corporis temporibus odio quae maiores architecto dolor at quisquam soluta, tempore eius ex, eaque delectus dignissimos harum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum repudiandae rerum animi assumenda autem. Nobis eveniet odit enim porro nulla illo assumenda. Dignissimos labore assumenda quisquam distinctio aliquid atque.</span>
            </div>

            <div class="flex justify-between items-center p-2 m-2">
                <div class="flex items-center">
                    <div class="rounded-full h-7 w-7 overflow-hidden mr-2">
                        <img class="h-full w-full object-cover" src="assets\Blogposts_images\leiding_boom.png" alt="User Profile Image">
                    </div>
                    <span class="text-sm font-semibold">De Leidingsploeg</span>
                </div>
                <div>
                    <span class="text-sm opacity-45">1 Week Geleden</span>
                </div>                
            </div>
        </div>
    </div>


</div>
