<header>
  <nav class="bg-red-500 px-4 lg:px-6 py-2.5">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
          <a href="#" class="flex items-center">
              <img src="assets/Logos/logoChiroSchelle.png" class="mr-3 h-12 sm:h-9" />
          </a>
          <div class="flex items-center lg:order-2">
            <button (click)="toggleMenu()" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-white rounded-lg lg:hidden focus:outline-none focus:ring-3 focus:ring-red-800" 
            [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'">
            <span class="sr-only">Open main menu</span>
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>

          <div [ngClass]="{ 'hidden': !isMenuOpen }" class="justify-between items-center w-full lg:flex lg:w-auto lg:order-1"  id="mobile-menu-2">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                  <li >
                      <a href="#" class="block py-2 pr-4 pl-3 text-white border-gray-100 hover:bg-red-400 ease-in-out rounded lg:p-0">
                        <div class="flex">
                          <img src="assets/icons/home.ico" class="h-5" />
                          <span class="text-left pl-3 ">Home </span>
                        </div>
                      </a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-white border-gray-100 hover:bg-red-400 ease-in-out rounded lg:p-0">
                      <div class="flex">
                        <img src="assets/icons/whistle.ico" class="h-5" />
                        <span class="text-left pl-3 ">Leidingsploeg </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-white border-gray-100 hover:bg-red-400 ease-in-out rounded lg:p-0">
                      <div class="flex">
                        <img src="assets/icons/notebook.ico" class="h-5" />
                        <span class="text-left pl-3 ">Programma </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-white border-gray-100 hover:bg-red-400 ease-in-out rounded lg:p-0">
                      <div class="flex">
                        <img src="assets/icons/magazine.ico" class="h-5" />
                        <span class="text-left pl-3 ">GOEPIE </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-white border-gray-100 hover:bg-red-400 ease-in-out rounded lg:p-0">
                      <div class="flex">
                        <img src="assets/icons/vehicle.ico" class="h-5" />
                        <span class="text-left pl-3 ">Bouw </span>
                      </div>
                    </a>
                  </li>
                
              </ul>
          </div>
      </div>
  </nav>
</header>
