<header class="bg-red-500 p-2">
  <div class="grid grid-cols-3">
    <div class="col-span-1">
      <a href="#">  
        <img src="assets/Logos/logoChiroSchelle.png" alt="" style="height: 60px;" />
      </a>
    </div>
    <div class="col-span-1 text-sm font-semibold flex items-center justify-center">
      <ul class="flex">
 
        <a [routerLink]="['']" routerLink="/afdelingen" 
          class="text-white text-xl ease-in-out duration-400 hover:bg-red-800 cursor-pointer px-2 rounded-lg 
        ">
          <li>
            Home
          </li>
          <img class="h-7 w-7 mx-auto mt-1" src="assets/icons/home.ico" />
        </a>


        <a  [routerLink]="['/leidingsPloeg']" routerLinkActive="router-link-active" 
          class="text-white text-xl ease-in-out duration-400 hover:bg-red-800 cursor-pointer px-2 rounded-lg ml-5
        ">
          <li>
            Leidingsploeg
          </li>
          <img class="h-8 w-8 mx-auto mt-1" src="assets/icons/whistle.ico" />
        </a>
        
        <a [routerLink]="['/programma']"
          class="text-white text-xl ease-in-out duration-400 hover:bg-red-800 cursor-pointer px-2 rounded-lg ml-5
        ">          
          <li>
            Programma
          <li>
            <img class="h-7 w-7 mx-auto mt-1" src="assets/icons/notebook.ico" />
          </a>



        <a [routerLink]="['goepie']"
          class="text-white text-xl ease-in-out duration-400 hover:bg-red-800 cursor-pointer px-2 rounded-lg ml-5
        ">
          <li>
            GOEPIE
          </li>
          <img class="h-7 w-7 mx-auto mt-1" src="assets/icons/magazine.ico" />
        </a>


      <a [routerLink]=""
        class="text-white text-xl ease-in-out duration-400 hover:bg-red-800 cursor-pointer px-2 rounded-lg ml-5
      ">
      <li>
        Bouw
      </li>
        <img class="h-7 w-7 mx-auto mt-1" src="assets/icons/vehicle.ico" />
      </a>

      </ul>
      
      
    </div>
    <div class="col-span-1 flex items-center justify-end space-x-4 mr-6">
      <span class="rotate-12 text-xl" id="socialsText">Onze Socials <span class="text-3xl">&#8605;</span></span>
      <a href="https://www.facebook.com/chiroschelle" class="text-white hover:text-facebook"><i class="fab text-2xl fa-facebook"></i></a>
      <a href="https://www.instagram.com/chiroschelle/" class="text-white hover:text-instagram-purple-violet"><i class="fab text-2xl fa-instagram"></i></a>
    </div>
</div>
</header>
 