<!-- Header -->
<div class="bg-gray-500 text-gray-100 p-4 relative z-10 ml-60">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-lg font-bold"><i class="fa-solid fa-gauge text-white text-lg mr-2"></i> 
      Dashboard - 
      Leiding
    </h1>
    <div class="flex items-center px-2 py-1 rounded-3xl "  [style.background]="sideBarColor">
      <div class="rounded-full h-5 w-5 overflow-hidden mr-2 ">
        <img class="h-full w-full object-cover" src="assets\Resized_Leiding_Fotos\{{infos[(user.id-1)].image}}" alt="User Profile Image">
      </div>
      <span class="text-sm font-bold  text-gray-100">{{user.Name}}</span>
      <span class="text-sm font-extrabold mx-2"> - </span>
      <span class="text-sm font-bold mr-1 text-gray-100"> {{user.username}} </span>
    </div>
  </div>
</div>

<!-- Main Layout -->
<div class="flex">
  <!-- Sidebar Navbar -->
  <!-- Depending on Users's afdeling color sidebar -->
  <div class="w-64 text-gray-100 h-screen p-4 fixed top-0 left-0 z-20" [style.background]="sideBarColor">
    <ul>      
      <li (click)="changeAdminPanel(0)"><a class="block py-2 px-4 hover:bg-gray-400 rounded cursor-pointer"><i class="fa-solid fa-gauge text-white text-lg mr-2"></i> Dashboard</a></li>
      <li (click)="changeAdminPanel(1)"><a class="block py-2 px-4 hover:bg-gray-400 rounded cursor-pointer"> <i class="fa-solid fa-plus text-white text-lg mr-2"></i> Toevoegen</a></li>
      <li (click)="changeAdminPanel(2)"><a class="block py-2 px-4 hover:bg-gray-400 rounded cursor-pointer"> <i class="fa-solid fa-list text-white text-lg mr-2"></i> Overzicht</a></li>
      <li (click)="changeAdminPanel(3)"><a class="block py-2 px-4 hover:bg-gray-400 rounded cursor-pointer"> <i class="fa-solid fa-image text-white text-lg mr-2"></i> Foto's</a></li>
      <li (click)="changeAdminPanel(4)"><a class="block py-2 px-4 hover:bg-gray-400 rounded cursor-pointer"> <i class="fa-solid fa-user-gear text-white text-lg mr-2"></i> Beheer Leiding</a></li>
      <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="block py-2 px-4 hover:bg-gray-400 rounded"> <i class="fa-solid fa-house text-white text-lg mr-2"></i> Home Website</a></li>
    </ul>
  </div>
  <!-- Content Area -->
  <div class="flex-1 p-1 ml-64 relative z-10 bg-gray-50 text-gray-700">
    @switch (activePanel) {
      @case (0) { <app-dashboard></app-dashboard> }
      @case (1) { <app-form-selector></app-form-selector> }
      @case (2) { <app-overview-page></app-overview-page> }
      @case (3) { <!-- Images --> }
      @case (4) { <!-- Admin panel--> }
    }
  </div>
</div>
