<div class="border-4 rounded-md border-purple-500 bg-purple-400 w-5/12 mx-auto my-4 p-2">
    <div class=" text-center mt-2 mb-4 font-bold text-xl">Toby Clownerweireld</div>
    <div class="text-center w-fit mx-auto">
        <img class="rounded-lg" src="assets\HeadShots\alderClown.png" width="150px" >
    </div>
    <div class="my-2 text-left p-2 text-md">
        <ul>
            <li><span class="font-semibold mr-2">Afdeling:</span> <span>Ribbel Jongen</span></li>
            <li><span class="font-semibold mr-2">Leeftijd:</span> <span>100</span></li>
            <li><span class="font-semibold mr-2">Email:</span> <span> paljas&#64;voetbalbond.be </span></li>
            <li><span class="font-semibold mr-2">Aantal Jaar Leiding:</span> <span>1</span></li>
        </ul>
    </div>
</div>

