<form [formGroup]="blogForm">
    <div class="border-2 border-green-600 m-1 grid grid-cols-2 gap-4">
        <div class="border-2 border-black">
            <label for="">Titel Blogpost:</label><span class="text-red-600 font-bold text-lg">*</span>
            <input class="border-2 border-black" type="text" formControlName="title" /> 
        </div>
        <div class="border-2 border-black">
            <label for="">Beschrijving Blogpost:</label><span class="text-red-600 font-bold text-lg">*</span>
            <input class="border-2 border-black" type="text" formControlName="description" /> <!-- TODO Change to Textbox-->
        </div>
        <div class="border-2 border-black">
            <label for="">Foto:</label><span class="text-red-600 font-bold text-lg">*</span>
            <input class="border-2 border-black" type="text" formControlName="Image" />
        </div>
        <div class="border-2 border-black">
            <label for="">Link:</label><span class="text-red-600 font-bold text-lg"></span>
            <input class="border-2 border-black" type="url" formControlName="Link" />
        </div>
        <div class="border-2 border-black">
            <label for="">Category:</label><span class="text-red-600 font-bold text-lg"></span>
            <input type="number" class="border-2 border-black" formControlName="category" />
        </div>
    </div>
</form>