<div class="border-2  mx-auto mt-6">
    
    <div class="w-fit mx-auto  mb-4">
        <div class="font-extrabold text-4xl text-cente">
            Chiro Schelle - Blog
        </div>
        <div class="text-center w-full font-semibold ">
            Hier vind je de laatste updates over Chiro Schelle!            
        </div>
        <div class="text-center">
            <div class="inline-block bg-purple-500 transform rounded-full w-2 h-2"></div>
            <div class="inline-block bg-yellow-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-green-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-red-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-blue-500 transform rounded-full w-2 h-2 ml-2"></div>
            <div class="inline-block bg-orange-500 transform rounded-full w-2 h-2 ml-2"></div>
        </div>
    </div> 

    <app-blogpost></app-blogpost>
    <!-- <app-blogpost-v2></app-blogpost-v2> -->
    <!-- <app-blogpost-v3></app-blogpost-v3> -->
</div>